
.page {
    margin: 2.5em auto;
    max-width: 90%;
}
.page__wrapper, .head__wrapper {
    padding: 0.5em;
}
.navbar {
    margin: 0.5em;
    margin-bottom: 0;
}

.uvod, section {
    margin-bottom: 5em;
}

.uvod {
    display: flex;
    flex-direction: row;
    gap: 0;
    /*width: 100%;*/
    max-width: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.uvod__text {
    margin-top: 1em;
    margin-left: 1em;
}
.uvod__wrapper {
    /*flex-grow: 1;*/
    width: 80%;
    z-index: 4;
    background: linear-gradient(58deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
}
.uvod__text .btn {
    margin-top: 2em;
}
.uvod__img {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
}
.uvod__img img {
    margin-top: 1.5em;
}
.cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin-bottom: 2em;
}

.cards__wrapper--all {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 2rem;
}
.cards__wrapper--all .card {
    width: unset;
    min-width: 10em;
    max-width: 25em;
}



.log__wrapper {
    padding: 1.5em;
    margin: 1em;
    max-width: 500px;
}
.log__btns {margin: 3em 0;}


.komentare_vypis {
    max-height: 20em;
    overflow-y: scroll;
}
.komentare {margin-top: 4em;}

.sluzby {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}
.sluzba {
    display: flex;
    flex-direction: column;
    max-width: 20em;
    min-width: 15em;
    box-shadow: 0px 0px 15px var(--btnH);
    border-radius: 1em;
    overflow: hidden;
}
.sluzba__text {
    padding: 1em;
}




@media (min-width: 538px) {
    .page__wrapper {
        padding: 0.5em 2em;
    }
    .head__wrapper {
        margin: 1em;
        margin-bottom: 0;
        margin-top: 0.5em;
    }
    .uvod__text .btn {
        margin-top: 3em;
    }
    .uvod__popis {margin-right: 2em;}

    
    .form-control--komentar {
        max-width: 40em;
    }

    .clanek__content {margin-right: 2em;}
    
}

@media (min-width: 961px) {
    .uvod {
        display: flex;
        flex-direction: row;
        gap: 0;
        /*width: 100%;*/
        /*max-width: 100%;*/
        position: relative;
        z-index: 2;
        overflow: hidden;
    }
    .uvod__wrapper {
        width: 70%;
        z-index: 4;
        background: linear-gradient(58deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
    }
    .uvod__popis {
        margin-right: 8em;
    }
    .uvod__text .btn {
        margin-top: 4em;
        margin-bottom: 2em;
    }
    .page__wrapper {
        padding: 0.5em 4em;
    }
    .uvod, section {
        margin-bottom: 4em;
    }

    .uvod__text {
        margin-top: 4em;
        margin-left: 2em;
    }
    .uvod__img {
        position: absolute;
        width: 100%;
        left: 0;
        height: 100%;
    }

    .clanek__content {max-width: 85%;}

    .komentare {margin-top: 6em;}


    .komentare_wrapper {
        max-width: 90%;
        margin: 0 auto;
    }

    .sluzby {gap: 2.5em;}

    .sluzba {
        flex-direction: row;
        max-width: unset;
        gap: 1em;
        max-width: 1000px;
    }
    .sluzba__text {
        flex-grow: 2;
        flex-basis: 600px;
    }
    .sluzba__img {
        flex-grow: 1;
        flex-basis: 200px;
        min-width: 300px;
    }
    .sluzba__img img{
        height: 100%;
    }

}

@media (min-width: 1461px) {

    .uvod, section {
        margin-bottom: 8em;
    }
    .page {
        margin: 4em auto;
        max-width: 1200px;
    }
}